//
// Application stylesheet
// -----------------------------------------------

body {
    background: #fff;
    &.template-theming-controlpanel .row {
        // Fix theming control panel
        margin: 0 @line-height-computed;
    }
    // Set font weights if webfont is active
  &.ws-active {
    // Default twbs weight for headings 500 not provided by Open Sans
    @headings-font-weight: 600;
    b,
    strong {
        font-weight: 600;
    }
  }
}
// prevent fake bolds
b,
strong {
    font-weight: 600;
    .ws-active & {
        font-weight: 600;
    }
}

a {
    outline: none;
}

a:hover {
  .transition(color .5s linear);
}

// Reenable tpye selection in navigation control panel
.template-navigation-controlpanel .label:empty {
    display: inline;
}

// Combat plone hidden element class via mixin
.hiddenStructure {
    .hidden();
}

// Reset widget styling
.mce-edit-area,
#content .field textarea,
#content .field input[type="text"] {
    background: #fff;
    background-image: none;
}

// Fix recurrence widget overlay styling
div.riform .label {
    float: none;
}


.app-toolbar + .app-navbar {
    margin-top: @navbar-height;
}

.app-header {
    .jumbotron();
}
