//
// Header
// ------------------------------------------


.app-header {
  padding-top: 3rem;
  @include media-breakpoint-up(md) {
      margin-bottom: 1rem;
      border-bottom: 1px solid $gray-light;
  }
}

.app-header-content {
  @include make-container();
  @include make-container-max-widths();
}


// Header panels
.app-header-panels {
    // Fallback for browsers lacking flexbox support
    @include when-inside('.no-flexbox') {
        display: table;
    }
    @include make-row();
    flex-wrap: wrap;
}

//** Base card styles
.app-header-panel {
    @include when-inside('.no-flexbox') {
        display: table-cell;
    }
    @include when-inside('.app-header-panels') {
        @include make-col(12);
        @include media-breakpoint-up(sm) {
            @include make-col(6);
        }
        @include media-breakpoint-up(md) {
            @include make-col(6);
        }
    }
}

.app-header-brandbar {
    min-height: 125px;
}
